@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject Orneholm.BirdOrNot.Models.GoogleAnalyticsOptions GoogleAnalyticsOptions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>BirdOrNot.net - Is it a bird or not? Find out using AI!</title>
    <meta name="description" content="Is it a bird or not? Find out using AI!" />

    <base href="/" />

    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/birdornot-180x180.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/birdornot-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/birdornot-16x16.png" />
    <link rel="shortcut icon" href="/images/icons/favicon.ico" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous" />

    <link rel="stylesheet" href="~/css/site.css" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@GoogleAnalyticsOptions.GoogleAnalyticsKey"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '@GoogleAnalyticsOptions.GoogleAnalyticsKey');
    </script>
    
    <!-- Application Insights -->
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
